@page "/converter"

<div class="converter-container">
    <div class="row">
        <MudSelect @bind-Value="SelectedFromCurrency" Label="Select From currency" Placeholder="Please select" AdornmentIcon="@Icons.Material.Filled.Fastfood" AdornmentColor="Color.Primary">
            @foreach (var item in this.AvailableCurrency)
            {
                <MudSelectItem Value="@item.Code">@item.Name</MudSelectItem>
            }
        </MudSelect>


        @* <button @onclick="SwapCurrencies" class="swap-btn">🔄</button> *@

        <MudSelect @bind-Value="SelectedToCurrency" Label="Select To currency" Placeholder="Please select" AdornmentIcon="@Icons.Material.Filled.Fastfood" AdornmentColor="Color.Primary">
            @foreach (var item in this.AvailableCurrency)
            {
                <MudSelectItem Value="@item.Code">@item.Name</MudSelectItem>
            }
        </MudSelect>
    </div>

    <div class="flex flex-row">
        <MudNumericField bind-Value="ConvertAmount" Value="ConvertAmount" T="string" ShrinkLabel Variant="Variant.Filled" Label="Amount" ValueChanged="UpdateCurrency"></MudNumericField>
        <span class="equal">=</span>
        <span class="converted">@convertedAmount.ToString("0.##")</span>
    </div>
</div>